<html>
    <head>
        <script type="text/javascript">
            window.DEFAULT_SETTINGS = {
                lms_user_id: <%= data.user.lmsUserId %>,
                user_id: <%= data.user.id %>,
                user_name: "<%= data.user.name %>",
                roles: "<%= data.launchParams.ext_roles %>",
                email: "<%= data.user.email %>",
                course_id: <%= data.launchParams.custom_canvas_course_id %>,
                content_item_return_url: "<%= data.launchParams.content_item_return_url %>"               
            };
            window.DEFAULT_JWT = "<%= data.jwt %>";
        </script>
    </head>
    <body>
        <div id="app"></div>
        <script src="index.js"></script>
        <link rel="stylesheet" href="index.css">
    </body>
</html>